doctype html
html(lang="en")
  head
    include templates/_partials/_head.jade
  body
    include templates/_partials/_nav.jade
    main
      section.presskit-page
        header.section-header
          p.section-eyebrow Resources
          h1 Press Kit
        if .PressKit
          section.presskit-section
            h2 Factsheet
            dl.presskit-facts
              dt Studio
              dd #{.PressKit.Studio}
              dt Founded
              dd #{.PressKit.Founded}
              dt Location
              dd #{.PressKit.Location}
              dt Website
              dd: a(href=.PressKit.Website) #{.PressKit.Website}
              dt Press Contact
              dd: a(href=.PressKit.PressContactMailto) #{.PressKit.PressContact}
              dt Social
              dd
                if .Socials.Twitter
                  a(href=.Socials.Twitter) Twitter &nbsp;
                if .Socials.Itchio
                  a(href=.Socials.Itchio) itch.io
          section.presskit-section
            h2 Description
            p #{.PressKit.Description}
          section.presskit-section
            h2 History
            p #{.PressKit.History}
          section.presskit-section
            h2 Team
            div.presskit-team
              each member in .PressKit.Team
                div.presskit-member
                  h3 #{.Name}
                  p #{join .Roles ", "}
          section.presskit-section
            h2 Logo
            div.presskit-logo
              img(src=.LogoPath, alt=.Studio, width="400", height="340")
              p Download:
                a(href=.LogoPath, download) #{.Studio} Logo (PNG)
          section.presskit-section
            h2 Featured Games
            div.games-grid
              each game in .Games
                a.game-card(href="/play", title=.Title)
                  div.game-card-frame
                    img.game-thumb(src=.ImageURL, alt=.Title, loading="lazy", width="400", height="225")
                    div.game-card-overlay
                      span.game-card-title #{.Title}
                      span.game-card-genre #{.Genre}
    include templates/_partials/_footer.jade
    include templates/_partials/_overlays.jade
    script(src=.DistJS)
