doctype html
html(lang="en")
  head
    include templates/_partials/_head.jade
  body
    include templates/_partials/_nav.jade
    main
      section.wip-page
        header.section-header
          p.section-eyebrow In Development
          h1 What We're Working On
          p.section-subtitle A sneak peek at what's cooking in the PixaBros kitchen
        if .WorkingOn
          div.wip-grid
            each project in .WorkingOn
              div.wip-card
                if .Image
                  img.wip-image(src=.Image, alt=.Title)
                else
                  div.wip-image-placeholder 🚧
                div.wip-info
                  h2.wip-title #{.Title}
                  div.wip-tags
                    each t in .Tags
                      span.wip-tag #{.}
                  p.wip-desc #{.Description}
                  div.neon-progress
                    div.neon-progress-bar(style=.ProgressStyle)
                    span.neon-progress-text #{.Progress}%
                  span.wip-status #{.Status}
        else
          div.empty-state
            p Nothing to show right now. We're busy cooking!
            p.empty-icon 🍳
    include templates/_partials/_footer.jade
    include templates/_partials/_overlays.jade
    script(src=.DistJS)
